/* Global Layout */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* max-width: 800px; */
    width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header Styling */
.header {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

/* Button Styling */
.button {
    /* align-self: flex-end; */
    margin-left: 914px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-bottom: 2px;
}

.button:hover {
    background-color: #0056b3;
}

/* Input Field Styling */
.inputField {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

/* Form Styling */
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    font-weight: 500;
    color: #555;
    margin-bottom: 5px;
}

/* Book List Styling */
.bookList {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.bookItem {
    padding: 10px;
    margin: 5px 0;
    background-color: #eaeaea;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookActions {
    display: flex;
    gap: 10px;
}
